<azteca-catalog-selector [catalogList]="poblaciones"
                         [dialogTitle]="'Poblaciones'"
                         [displayValue]="displayValue"
                         [serverSide]="true"
                         [selectedItem]="selectedItem"
                         [pageIndex]="pageIndex"
                         [pageSize]="pageSize"
                         [totalRows]="totalRows"
                         [enabled]="enabled"
                         [visible]="visible"
                         (selectedItemChanged)="itemChangedHandler($event)"
                         (searchRequested)="doSearch($event)">

    <azteca-grid-column [header]="'ID'" [binding]="'id'" dataType="number" [width]="'1*'"></azteca-grid-column>
    <azteca-grid-column [header]="'Codigo'" [binding]="'codigo'" [width]="'2*'"></azteca-grid-column>
    <azteca-grid-column [header]="'Nombre'" [binding]="'nombre'" [width]="'3*'"></azteca-grid-column>
    <azteca-grid-column [header]="'Estado'" [binding]="'estado'" [width]="'2*'"></azteca-grid-column>
    <azteca-grid-column [header]="'Estatus'" [binding]="'estatus'" [width]="'2*'"></azteca-grid-column>

</azteca-catalog-selector>
