<wj-menu #ctxMenu (itemClicked)="menuItemClicked(ctxMenu, $event)" [itemsSource]="contextMenuItems" style="display:none">
    <template wjItemTemplate let-item="item" let-itemIndex="index">
        <div *ngIf="enabled && item.enabled">
            <span [class]="item.icon"></span>
            <b>{{item.text}}</b>
            <br>
            <small><i>{{item.smallText}}</i></small>
        </div>
    </template>
</wj-menu>

<div class="row">

    <div class="col-xs-12">
        <wj-flex-grid #grid style="height:500px"
                      [itemsSource]="catalogView"
                      (initialized)="initialized(grid, $event)"
                      (sortedColumn)="sortChanged(grid, $event)"
                      [selectionMode]="'Row'"
                      [wjContextMenu]="ctxMenu"                      
                      [isReadOnly]="true">

            <wj-flex-grid-filter #filter (filterChanged)="filterChanged(filter, $event)"></wj-flex-grid-filter>
            <!--Agregar las columnas definidas en el template-->
            <wj-flex-grid-column *ngFor="let col of columns"
                                 [header]="col.header"
                                 [binding]="col.binding"
                                 [name]="col.name"
                                 [dataType]="col.dataType"
                                 [width]="col.width">
                <!-- Add cell template if col.cellTemplate is specified. -->
                <template wjFlexGridCellTemplate *ngIf="col.cellTemplate" [cellType]="'Cell'" let-cell="cell">
                    <!-- Load the component whose type is specified in col.cellTemplate -->
                    <wj-component-loader [component]="col.cellTemplate" [properties]="{cell: cell}"></wj-component-loader>
                </template>
            </wj-flex-grid-column>
        </wj-flex-grid>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="btn-group">
            <button type="button" class="btn btn-default"
                    (click)="moveFirst()"
                    [disabled]="pageIndex <= 0">
                <span class="glyphicon glyphicon-fast-backward"></span>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="movePrevious()"
                    [disabled]="pageIndex <= 0">
                <span class="glyphicon glyphicon-step-backward"></span>
            </button>
            <button type="button" class="btn btn-default" disabled style="width:100px">
                {{pageIndex + 1}} de {{pageCount}}
            </button>
            <button type="button" class="btn btn-default"
                    (click)="moveNext()"
                    [disabled]="pageIndex >= pageCount -1">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="moveLast()"
                    [disabled]="pageIndex >= pageCount -1">
                <span class="glyphicon glyphicon-fast-forward"></span>
            </button>
        </div>
    </div>
</div>

